// Styling for the masthead
.masthead {
  padding-top: 10rem;

  padding-bottom: calc(10rem - 56px);
  hr {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  h1 {
    font-size: 2rem;
  }
  p {
    font-weight: 300;
  }
  @media (min-width: 768px) {
    p {
      font-size: 2rem;
    }
  }
  @media (max-width: 565px) {
    p {
      color: $primary !important;
      border-radius: 300px;
      border: 1px solid $primary;
      background: $white;
    }
  }

  @media (min-width: 992px) {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
    h1 {
      font-size: 3rem;
      color: $white;
    }
  }

  @media (min-width: 1200px) {
    h1 {
      font-size: 6rem;
    }
  }
  @media (max-width: 1200px) {
    h1 {
      font-size: 3rem;
    }
  }
  @media (max-width: 500px) {
    display: none !important;
  }
}

.bookinner {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  hr {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  h1 {
    font-size: 2rem;
  }
  p {
    font-weight: 300;
  }
  @media (min-width: 768px) {
    p {
      font-size: 2rem;
    }
  }
  @media (max-width: 565px) {
    p {
      color: $primary !important;
      border-radius: 300px;
      border: 1px solid $primary;
      background: $white;
    }
  }
  @media (min-width: 992px) {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
    h1 {
      font-size: 3rem;
      color: $white;
    }
  }

  @media (min-width: 1200px) {
    h1 {
      font-size: 6rem;
    }
  }
  @media (max-width: 1200px) {
    h1 {
      font-size: 3rem;
    }
  }
}
@media (min-width: 1150px) {
  #numberForMobile {
    display: none !important;
  }
}
@media (max-width: 1250px) {
    .navbar-expand-lg {
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -ms-flex-pack: start;
      justify-content: flex-start;
  }
}
